html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #1F2937;
}

header {
    background-color: #1F2937;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 1.5em;
}

#logo {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #3882F6;
    text-decoration: underline;
}

a:active {
    cursor: grabbing;
}

#main {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#main-message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 700px;
    width: 100%;
}

#main-message img {
    height: 100%;
    width: auto;
}

#message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
}

#message h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#message p {
    font-size: 18px;
    color:#E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border: 2px solid;
    border-radius: 25%;
    border-color: #3882F6;
    width: 15%;
    font-size: 1em;
    padding: 5px;
    font-weight: 900;
}

button:hover {
    background-color: white;
    color: #3882F6;
    border-color: white;
    cursor: grab;
    text-decoration: underline;
}

button:active {
    cursor: grabbing;
}

#info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

#info-header {
    font-size: 3em;
    font-weight: 900;
    color: #1F2937;
}

#descriptions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    color: #1F2937;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90%;
    margin-left: 2%;
    margin-right: 2%;
}

.description img {
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.description p {
    height: 50%;
}

#testimonial {
    background-color:#E5E7EB;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

blockquote {
    font-size: 36px;
    font-style: oblique;
    color: #1F2937;
}

figcaption {
    color: #1F2937;
    font-size: 36px;
    padding-left: 10%;
}

#shell {
    background-color: white;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#callActionContainer {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1%;
    width: 80%;
    height: 150px;
}

#callAction h2 {
    color:#F9FAF8;
}

#callAction p {
    color: #E5E7EB;
    font-size: 18px;
}

#sign-up {
    width: 100%;
    border: 2px solid white;
    border-radius: 25%;
    padding: 10px;
}

footer {
    background-color: #1F2937;
    color:#E5E7EB;
    height: 10%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    button {
        width: 25%;
    }

    #info {
        padding-right: 7%;
        padding-left: 7%;
    }

    #descriptions {
        margin-left: 7%;
        width: 90%;
    }

    #info-header {
        margin-left: 7%;
    }

    #testimonial {
        padding-left: 7%;
        padding-right: 7%;
    }

    #shell {
        padding-left: 7%;
        padding-right: 7%;
    }

    .description img {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 425px) and (min-width: 375px) {
    header {
        font-size: 1em;
    }

    #main-message {
        gap: 5%;
    }

    #main-message img {
        width: 50%;
        height: auto;
    }

    #message button {
        width: 50%;
    }

    #callActionContainer {
        padding-left: 7%;
        padding-right: 7%;
        width: 100%;
    }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
    header {
        font-size: .75em;
    }

    #main {
        margin-top: 15%;
    }

    #main-message {
        height: auto;
        margin-bottom: 5%;
    }

    #main-message img {
        width: 40%;
        height: auto;
    }

    #message h1 {
        font-size: 1.5em;
    }

    #message p {
        font-size: 1em;
    }

    #descriptions {
        flex-direction: column;
    }

    #info-header {
        font-size: 1.5em;
    }

    .description p {
        font-size: .75em;
        width: 50%;
    }

    #testimonial {
        height: 400px;
    }

    blockquote p {
        font-size: .75em;
    }

    figcaption {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 320px) {
    #message button {
        width: 50%;
    }

    #callActionContainer {
        padding: 10%;
    }

    #callAction h2 {
        font-size: 1em;
    }

    #callAction p {
        font-size: .75em;
    }

    #sign-up {
        width: 125%;
        font-size: .75em;
    }
}
