body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 0;
}
#header-container {
    background-color: #1F2937;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}
#logo {
    font-size: 24px;
    color: #F9FAF8;
}
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 15px;
}
a:last-child {
    margin-right: 0;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
#main-message {
    background-color:#1F2937;
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
    height: 600px;
    width: 100%;
}
#main-message img {
   height: 100%;
   width: auto;
}
#message h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
}
#message p {
    font-size: 18px;
    color:#E5E7EB;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-width: 2px;
    border-style: solid; 
    border-radius: 15%;
    border-color: #3882F6;
    width: 80px;
    height: 30px;
}
#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
#info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
#descriptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: #1F2937;
    gap: 30px;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 200px;
    height: 400px;
}
.description img {
    border-radius: 10%;
    height: 200px;
    width: 200px;
}
#testimonial {
    background-color:#E5E7EB;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
blockquote {
    font-size: 36px;
    font-style: oblique;
    color: #1F2937;
}
figcaption {
    color: #1F2937;
    font-size: 36px;
    margin-left: 800px;
}
#shell {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#callActionContainer {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1%;
    width: 900px;
    height: 150px;
}
#callAction h2 {
    color:#F9FAF8;
}
#callAction p {
    color: #E5E7EB;
    font-size: 18px;
}
#callActionContainer button {
    border-color:#F9FAF8;
    border-radius: 5%;
}
#footer {
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 18px;
    text-align: center;
    height: 60px;
}
