body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 0;
}
#header-container {
    background-color: #1F2937;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}
#logo {
    font-size: 24px;
    color: #F9FAF8;
}
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 15px;
}
a:last-child {
    margin-right: 0;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
#main-message {
    background-color:#1F2937;
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
#main-message img {
    width: 33%;
    height: auto;
}
#message h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
}
#message p {
    font-size: 18px;
    color:#E5E7EB;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-width: 5px;
    border-style: none; 
    border-radius: 15%;
}
#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
#descriptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: #1F2937;
    height: 400px;
    gap: 30px;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 200px;
    height: 400px;
}
.description img {
    border-radius: 10%;
    height: 200px;
    width: 200px;
}